<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    Members Only
    <% if (locals.user) { %>
        <p><%= user.mem_name %></p>
        <% if (user.mem_verified) { %>
            <p>Verified</p>
        <% } else { %>
            <p>Not verified</p>
            <a href="/verify">Verify</a>
        <% } %>
    <% } else { %>
        <p>Not logged in</p>
    <% } %>
    <a href="/login">Log in</a>
    <a href="/signup">Sign up</a>
    <p><a href="/message">Message Board</a></p>
</body>
</html>