<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in Form</title>
</head>
<body>
    <a href="/">Index</a>
    <form action="/login" method="post">
        <label for="mem_identity">Email or Username</label>
        <input type="text" name="mem_identity" id="mem_identity">
        <label for="mem_password">Password</label>
        <input type="password" name="mem_password" id="mem_password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>