<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
</head>
<body>
    <a href="/">Return to Index</a>
    <form action="/message/new" method="post">
        <label for="msg_head">Message header</label>
        <input type="text" name="msg_head" id="msg_head">
        <label for="msg_text">Message body</label>
        <textarea name="msg_text" id="msg_text"></textarea>
        <button type="submit">Submit</button>
    </form>
</body>
</html>