<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up Form</title>
</head>
<body>
    <a href="/">Index</a>
    <form action="">
        <label for="mem_name">Username</label>
        <input type="text" name="mem_name" id="mem_name">
        <label for="mem_email">Email</label>
        <input type="email" name="mem_email" id="mem_email">
        <label for="mem_password">Password</label>
        <input type="password" name="mem_password" id="mem_password">
        <label for="mem_confirm">Confirm Password</label>
        <input type="password" name="mem_confirm" id="mem_confirm">
        <button type="submit">Submit</button>
    </form>
</body>
</html>